.header{
    background-color: #020002;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 20px;
}

.header_logo{
    display: flex;
    color: white;
    font-family: 'Comfortaa';
    text-transform: capitalize;
}

.header_image {
    align-self: center;
}

.menu {
    height: inherit;
  }

.header p {
    margin: 0;
    padding-top: 13px;
}

.header ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: inherit;
}

.header ol li{
    height: inherit;
}

.header_url{
    color: aliceblue;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

figure {
    margin: 0;
  }


.hero  h1{
    font-family: 'Comfortaa';
    font-weight: 600;
    font-size: 50px;
    vertical-align: -webkit-baseline-middle;
    color: aliceblue;
    float: left;

}

h1 strong{
    color: #F5660B;
}

h2{
    font-family: 'Comfortaa';
    /* font-weight: 600; */
    font-size: larger;
}

h3{
    font-family: 'atami';
    font-weight: 400;
    font-size: 1.24em;
}

h4{
    font-family: 'atami';
    font-weight: 50;
    font-size: 1.07em;
}

body{
    font-family: 'Futura lt BT';
    background-color: #f2f2f2;
    margin: 0;
}

.hero {
    background-color: #050006;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;

}

.exercise{
    /* margin: 20px; */
    margin-top: 30px;
    margin-bottom: 15px;
    /* display: flex;
    flex-wrap: wrap; */
}

.exercise_type{
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    margin: 15px 25px;
    padding: 30px 25px;
    display: flex;  
    line-height: 50px;
}

.exercise_details {
    width: 55%;
}

.exercise_title {
    padding: 15px 10px;
    margin: 0;
}

.exercise_subtitle{
    margin: 0;
}

.exercise_englishsubtitle{
    margin-top: -15px;
    margin-bottom: 2px;
}

 .exercise_description{
     /* width: 590px; */
     margin: 0;
     line-height: normal;
    }

.musculos{
    text-align: center;
    /* padding-left: 16px; */
    width: 45%;
}

.musculos h3{
    margin-top: 0;
    margin-bottom: 45px;
}

    
.exercise_imagewrapper img {
    max-width: 100%;    
}
    
.video{
        margin: 0px;
    }

.video_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.video_imagewrapper img{
    /* object-fit: cover; */
    width: 100%;
}

.video_title{
    /* margin-top: 45px; */
    margin-bottom: 0;
    margin-left: 10px;
    padding-top: 15px;
}

.video_source{
    background-color:  #050006;
    border-radius: 15px;
    width: 47%;
    margin: 2% 1.5%;
    overflow: hidden;
}

.video_details{
    background-color: whitesmoke;
    padding: 40px;
    padding-top: 10px;
    color: black;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
    margin-top: -60px;
    position: relative;
    box-sizing: inherit;
    border-radius: 15px;
}

.video_name{
    margin: 0;
    font-weight: normal;
    font-size: 1.2em;
}

.video_description{
    margin-top: 5px;
    color: #404040;
}

.video_url{
    border: 2px solid black;
    padding: 10px 20px;
    text-decoration: none;
    color: #F5660B;
    font-weight: 600;
    text-align: left;
}

.contact{
    background-color: #050006;
    color: aliceblue;
    padding: 0px 20px 20px 28.8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contact_title{
    margin: 20px;
    margin-bottom: 10px;
}

.social-link{
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin: 0 20px;
    background-size: 2.5em;
    background-repeat: no-repeat;
}

.social-link.twitter{
    background-image: url(./images/iconos/twitter.svg);
}

.social-link.facebook{
    background-image: url(./images/iconos/facebook.svg);
}

.social-link.github{
    background-image: url(./images/iconos/github.svg);
}

.social-link.instagram{
    background-image: url(./images/iconos/instagram.svg);
}

.form_email input{
    border-color: transparent;
    padding-left: 22px;
    background-image: url('./images/iconos/envelope.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: center;
    font-size: small;
}

.form_email button{
    display: block;
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border-color: white;
    font-size: x-small;
    padding: 5px 10px;
}

.imc {
    padding-top: 10px;
}

.imc_wrapper{
    margin: 20px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0 20px;
    background-color: white;
    display: block;
    text-align: center;

}

.imc_title {
    font-size: 1.2em;
}

.imc_content{
    padding: 0 20px;
    margin: 15px;
    display: block;
    color: rgb(59, 59, 59);
}

.imc_questions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.imc article p {
    margin-top: 0;
    margin-bottom: 5px;
}

.imc input{
    border: 1px solid #050006;
    padding: 5px;
    border-radius: 5px;
}


.resultado {
    text-align: center;
}

.imc button{
    border-color: transparent;
    background-color: transparent;
    justify-content: center;
    color: #F5660B;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 3px;
}

.imc button:hover {
    box-shadow: 0px 0px 5px 1px #F5660B;
    
    /* font-size:  */
    /* border: 1px solid #F5660B; */
    /* padding: 2px; */

}

.imc button:focus {
    outline: none;
}


 footer{
     background-color: black;
     color: aliceblue;
     display: flex;
     justify-content: space-between;
     padding: 0 20px;
     margin: 0;
     font-size: 20px;
    }

.container {
  max-width: 1330px;
  /* width: 100% ; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

@media screen and (max-width: 1024px) {
    .hero {
        /* display: block; */
        position: relative;
        height: auto;
        overflow: hidden;
        padding: 2em 0;
        justify-content: center;
    }
    
    .hero h1 {
        z-index: 1;
    }

    .hero img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        filter: opacity(.6);
    } 



}

@media screen and (max-width: 767px) {
    .header {
        display: block;
        height: auto;        
    }
    .header_logo {
        justify-content: center;
        padding: 5px 0;
    }
    
    .header ol {
        display: block;
    }
    
    .header_url {
        height: 50px;
        justify-content: center;
    }

    .hero h1 {
    font-size: 2.5em;
    }

    .exercise {
        display: block;
    }

    .exercise_title {
        font-size: 1.5em;
    }
    
    .exercise_type {
        display: block;
        font-size: 20px;
    }

    .exercise_details{
        width: auto;
    }

    .musculos {
        width: auto;
    }

    .musculos h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 25px;
    }

    .video_title {
        font-size: 1.5em;
    }

    .video_source {
        width: auto;
        margin: 2% 3%;
    }

    .video_details {
        font-size: 20px;
    }

    .imc_title {
        font-size: 24px;
    }

    .imc_content {
        padding: 0;
        font-size: 20px;
    }

}

@media screen and (max-width: 480px) {
    
    .hero {
        padding: 1em 0;
    }

    .hero h1 {
        font-size: 2em;
    }
    

    .exercise_type {
        margin: .4em;
        padding: 1em;
    }

    .imc input {
        width: 90%;
        margin-bottom: 10px;
    }

    .imc button {
        margin: 0;
    }

    .imc_wrapper {
        margin: .4em;
        padding: .4em;
    }

    .contact{
        border: 1px solid transparent;
        display: block;
        text-align: center;
    }

    .contact button {
        margin: 1em auto;
    }

    footer {
        font-size: 17px;
    }

}

@media screen and (max-width: 320px) {
    
    .hero {
        padding: .5em 0;
    }

    .hero h1 {
        font-size: 1.5em;
    }

    .exercise_title {
        font-size: 1.3em;
        text-align: center;
    }
    
    .exercise_type {
        margin: .4em;
        padding: .4em;
        line-height: 40px;
        font-size: 16px;
    }

    .video_title {
        font-size: 1.3em;
        text-align: center;
    }

    .video_details {
        font-size: 16px;
        padding: 1em 0.5em 2em;
    }

    .imc_content {
        font-size: 18px;
    }

    .contact {
        padding: 0;
    }

    .social-link {
        margin: 0 5px;
    }

    footer {
        display: block;
        border: 1px solid transparent;
        /* font-size: x-small; */
    }

    footer p {
        margin: 5px 0;
    }



}



    
