.header{
    background-color: #020002;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 20px;
}

.header_logo{
    display: flex;
    color: white;
    font-family: 'Comfortaa';
    text-transform: capitalize;
}

/* .header_logo strong{
    color: #0FABE3;
} */

.header_image {
    align-self: center;
}

.menu {
    height: inherit;
  }

.header ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: inherit;
}

.header ol li{
    height: inherit;
}

.header_url{
    color: aliceblue;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

figure {
    margin: 0;
  }


.hero  h1{
    font-family: 'Comfortaa';
    font-weight: 600;
    font-size: 50px;
    vertical-align: -webkit-baseline-middle;
    color: aliceblue;
    float: left;
    margin: 104px 24px;
    margin-right: 750px;

}

h1 strong{
    color: #F5660B;
}

h2{
    font-family: 'Comfortaa';
    font-weight: 600;
    font-size: larger;
}

h3{
    font-family: 'atami';
    font-weight: 400;
    font-size: larger;
}

h4{
    font-family: 'atami';
    font-weight: 300;
    font-size: small;
}

body{
    font-family: 'Futura lt BT';
    background-color: #f0f0f0;
    margin: 0;
}

.hero {
    height: 383px;
    background-color: #050006;
    background-image: url('./images/hero.jpg');
    background-size: 750px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.exercise{
    margin: 20px;
}

.exercise_type{
    border: 1px solid black;
    background-color: #F4F4F4;
    border-radius: 10px;
    margin: 15px 15px;
    padding: 40px 20px;
    display: flex;  
    line-height: 50px;
    /* flex-direction: column; */
}

.exercise_subtitle{
    /* width: 300px; */
    margin: 0;
    /* line-height: 0px; */
}

.exercise_englishsubtitle{
    /* width: 300px; */
    margin: 0;
    /* width: 100px; */
}

 .exercise_description{
     width: 590px;
     margin: 0;
     line-height: normal;
     /* margin: 0; */
     /* display: flex; */
     /* flex-direction: column; */
    }

.musculos{
    text-align: center;
    /* line-height: 0; */
    /* margin-left: 100px; */
    padding-left: 50px;
}

.musculos h3{
    margin-top: 0;
    margin-bottom: 55px;
}

    
.exercise_imagewrapper{
        width: 520px;
        margin: 12px 68px;
    }
    
.video{
        margin: 0px;
        /* display: flex;
        flex-wrap: wrap; */
    }

.video_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.video_imagewrapper img{
    object-fit: cover;
}

.video_title{
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 20px;
}

.video_source{
    /* border: 1px solid red; */
    /* display: flex; */
    background-color:  #050006;
    border-radius: 15px;
    width: 600px;
    margin: 20px 0;
    overflow: hidden;
}

/* .video_source
h3,
p,
a{
    display: flex;
    justify-content: center;
} */

.video_details{
    background-color: #F4F4F4;
    padding: 20px;
    color: black;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
    margin-top: -60px;
    position: relative;
    box-sizing: inherit;
    border-radius: 15px;
}

.video_name{
    margin: 0;
    font-weight: normal;
    font-size: 1.2em;
}

.video_description{
    margin-top: 5px;
    color: #404040;
}

.video_url{
    border: 2px solid black;
    padding: 10px 20px;
    text-decoration: none;
    color: #F5660B;
    /* background-color: #020002 */
    font-weight: 600;
}



 footer{
     background-color: black;
     color: aliceblue;
     display: flex;
     margin-top: 15px;
     justify-content: space-between;
     padding: 0 20px;
    }
    





/* .imc,
h1,
p{
    justify-content: left;
} */
    
